*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  cursor: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: oklch(87.2% 0.01 258.338deg);
  height: 100vh;
}
body:has(.cursor:hover) .circle {
  transform: scale(8);
}

.blue-800 {
  color: oklch(42.4% 0.199 265.638deg);
}

.circle {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: oklch(87.2% 0.01 258.338deg);
  position: fixed;
  z-index: 2000;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: transform 0.4s;
  display: none;
}
@media (max-width: 768px) {
  .circle {
    opacity: 0;
  }
}

.navigation__checkbox {
  display: none;
}
.navigation__menu {
  width: 4rem;
  height: 4rem;
  background-color: oklch(37.3% 0.034 259.733deg);
  position: fixed;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: oklch(87.2% 0.01 258.338deg);
  border-radius: 50%;
  top: 1rem;
  right: 1rem;
  z-index: 20;
}
.navigation__background {
  width: 4rem;
  height: 4rem;
  background-color: oklch(37.3% 0.034 259.733deg);
  position: fixed;
  border-radius: 50%;
  top: 1rem;
  right: 1rem;
  transition: transform 1s;
  z-index: 10;
}
.navigation__items {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
  transition-delay: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  z-index: 10;
}
.navigation__item {
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 100;
  color: oklch(87.2% 0.01 258.338deg);
  transition: all 0.5s;
}
.navigation__link {
  color: inherit;
  text-decoration: none;
}
.navigation__item:hover {
  color: oklch(37.3% 0.034 259.733deg);
  background-color: oklch(87.2% 0.01 258.338deg);
  transform: translateX(1.4rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__items {
  opacity: 1;
  pointer-events: all;
}

.home {
  height: 100vh;
  display: grid;
  place-items: center;
}
.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .home__content {
    width: 100%;
    padding: 1rem;
  }
}
.home__name {
  font-size: 8rem;
  font-weight: 700;
  color: oklch(37.3% 0.034 259.733deg);
  line-height: 1;
}
@media (max-width: 768px) {
  .home__name {
    font-size: 3rem;
  }
}
.home__iam {
  font-size: 3rem;
  font-weight: 700;
  color: oklch(37.3% 0.034 259.733deg);
}
@media (max-width: 768px) {
  .home__iam {
    font-size: 1.5rem;
  }
}
.home__ido {
  color: oklch(42.4% 0.199 265.638deg);
}
.home__social {
  margin-top: 1rem;
  display: flex;
  list-style: none;
  gap: 1.5rem;
  align-items: center;
  justify-content: start;
}
@media (max-width: 768px) {
  .home__social {
    gap: 0.8rem;
  }
}
.home__social a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: oklch(37.3% 0.034 259.733deg);
}
.home__social a:hover {
  color: oklch(42.4% 0.199 265.638deg);
}
@media (max-width: 768px) {
  .home__social a span {
    display: none;
  }
}

.about__title,
.knowledge__title,
.portofolio__title {
  font-size: 4rem;
  line-height: 1;
  color: oklch(37.3% 0.034 259.733deg);
  text-align: center;
}
@media (max-width: 768px) {
  .about__title,
  .knowledge__title,
  .portofolio__title {
    font-size: 2rem;
  }
}

.about__subtitle,
.knowledge__subtitle,
.portofolio__subtitle {
  font-size: 2rem;
  font-weight: 200;
  color: oklch(37.3% 0.034 259.733deg);
  text-align: center;
}
@media (max-width: 768px) {
  .about__subtitle,
  .knowledge__subtitle,
  .portofolio__subtitle {
    font-size: 1.5rem;
  }
}

.about__content,
.knowledge__content,
.portofolio__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about {
  height: 100vh;
  display: grid;
  place-items: center;
  padding-bottom: 5rem;
}
.about__text {
  margin-top: 2rem;
  color: oklch(37.3% 0.034 259.733deg);
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .about__text {
    margin-top: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes spin {
  to {
    --angle: 360deg;
  }
}
.knowledge {
  height: 100vh;
  display: grid;
  place-items: center;
  padding-bottom: 5rem;
}
.knowledge__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.knowledge__item {
  width: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: oklch(87.2% 0.01 258.338deg);
  padding: 1rem;
  gap: 1rem;
  border-radius: 8px;
  position: relative;
}
@media (max-width: 768px) {
  .knowledge__item {
    width: 5em;
  }
}
.knowledge__item::after, .knowledge__item::before {
  position: absolute;
  content: "";
  z-index: -1;
  border-radius: 10px;
  background-image: conic-gradient(from var(--angle), oklch(62.3% 0.214 259.815deg) 50%, transparent 50%);
  height: 100%;
  width: 100%;
  padding: 4px;
  animation: spin both;
  animation-timeline: scroll();
  animation-range: entry 50%;
}
@media (max-width: 768px) {
  .knowledge__item::after, .knowledge__item::before {
    animation: 3s spin linear infinite;
  }
}
.knowledge__item::before {
  filter: blur(0.5rem);
  opacity: 0.5;
}
.knowledge__item h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;
  color: oklch(37.3% 0.034 259.733deg);
}
@media (max-width: 768px) {
  .knowledge__item h1 {
    font-size: 0.8rem;
  }
}
.knowledge__item img {
  width: 100%;
}

.portofolio {
  height: 100vh;
  display: grid;
  place-items: center;
}
.portofolio__project {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1.6rem;
  flex-wrap: wrap;
}
.portofolio__project .project {
  width: 20em;
  height: 12em;
  position: relative;
  overflow: hidden;
}
.portofolio__project .project__image {
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.portofolio__project .project__title {
  position: absolute;
  background-color: oklch(42.4% 0.199 265.638deg);
  width: 100%;
  text-align: center;
  padding: 0.4rem 0;
  color: oklch(87.2% 0.01 258.338deg);
  transform: translateY(100%);
  pointer-events: none;
  bottom: 0;
  font-size: 1rem;
  transition: all 0.4s;
  opacity: 0;
  pointer-events: none;
}
.portofolio__project .project__background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  pointer-events: none;
  transition: all 0.4s;
  opacity: 0;
  top: 0;
  pointer-events: none;
}
.portofolio__project .project__icon {
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
}
.portofolio__project .project:hover .project__title, .portofolio__project .project:hover .project__background {
  opacity: 1;
  transform: none;
}

@keyframes openModal {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
}
.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
  padding: 2rem 0;
  width: 100%;
  display: grid;
  place-items: center;
  display: none;
  z-index: 30;
}
@media (max-width: 768px) {
  .modal {
    padding: 0;
    width: 100%;
  }
}
.modal__content {
  width: 40em;
  background-color: oklch(87.2% 0.01 258.338deg);
  animation: openModal 0.5s;
}
@media (max-width: 768px) {
  .modal__content {
    width: 100%;
  }
}
.modal__header {
  background-color: whitesmoke;
  padding: 1rem;
  color: oklch(37.3% 0.034 259.733deg);
  position: relative;
}
.modal__close {
  position: absolute;
  top: 1.2rem;
  right: 1.4rem;
  font-size: 1.2rem;
}
.modal__close:hover {
  opacity: 0.8;
}
.modal__body {
  padding: 1rem;
}
.modal__title {
  text-align: center;
  font-weight: 200;
}
.modal__text {
  font-size: 1rem;
  color: oklch(37.3% 0.034 259.733deg);
  margin-top: 0.5rem;
}
.modal__image {
  width: 100%;
}
.modal__footer {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: end;
}
.modal__btn {
  background-color: oklch(37.3% 0.034 259.733deg);
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  color: oklch(87.2% 0.01 258.338deg);
}
.modal__btn:hover {
  opacity: 0.8;
}

.footer {
  text-align: center;
  color: oklch(37.3% 0.034 259.733deg);
  font-size: 0.9rem;
  line-height: 4em;
  height: 4em;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
