@font-face {
    font-family: 'inconsolata';
    src: url(../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

#card-x {
    font-family: 'Poppins';
}

.nav-b {
    top: 0; 
    position: fixed;
    width: 100%;
}

.latar {
    height: 100vh;
    width: 40%;
}

.putih {
    height: 100vh;
    width: 60%;
}

.kartu-container {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.kartu {
    height: 75%; 
    box-shadow: 0 2px 12px rgba(0, 0, 0, .3) !important;   
}

.text {
    height: 75%;
    overflow: auto;
    font-size: small;
}

.text::-webkit-scrollbar {
    display: none;
}

footer {
    margin-top: 15%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.footer-bottom {
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0 -1px 20px -5px gray;
}

.icon {
    text-shadow: 0 2px 3px black;
}

.menu-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.garis {
    border-bottom: 3px solid lightblue;
    width: 40px;
    margin: 20px auto;
}


@media (max-width: 763px) {    
    .kartu {
        width: 50%;
        height: 85%;
    }

    .menu-nav {
        display: block;
    }

    .footer-bottom .sosmed code {
        display: none;
    }
    
    .text {
        width: 50%;
        height: 85%;
        overflow: auto;
    }

    .icon img {
        width: 20px;
    }
    
    img {
        width: 150px;
    }
}