.nav-b {
    top: 0; 
    position: fixed;
    width: 100%;
}

.latar {
    height: 100vh;
    width: 40%;
}

.putih {
    height: 100vh;
    width: 60%;
}

.kartu-container {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.kartu {
    height: 75%;    
}

.text {
    height: 75%;
}

footer {
    margin-top: 5%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.footer-bottom {
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: white;
}

.icon {
    text-shadow: 0 2px 3px black;
}

.menu-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.garis {
    border-bottom: 3px solid lightblue;
    width: 40px;
    margin: 20px auto;
}

@media (max-width: 763px) {    
    .kartu {
        width: 50%;
        height: 85%;
    }

    .menu-nav {
        display: block;
    }

    .footer-bottom .sosmed code {
        display: none;
    }
    
    .text {
        width: 50%;
        height: 85%;
        overflow: auto;
    }

    img {
        width: 150px;
    }
}