.latar {
    height: 100vh;
    width: 40%;
}

.putih {
    height: 100vh;
    width: 60%;
}

.kartu-container {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.kartu {
    height: 75%;    
}

.text {
    height: 75%;
}

footer {
    margin-top: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.icon {
    text-shadow: 0 2px 3px black;
}

@media (max-width: 763px) {
    .kartu {
        width: 50%;
        height: 85%;
    }

    .text {
        width: 50%;
        height: 85%;
        overflow: auto;
    }

    img {
        width: 150px;
    }
}